/*
Syntax error: Invalid CSS after "	background-color:": expected expression (e.g. 1px, bold), was "}"
        on line 49 of ./app/styles/style.scss

44: 	width: 70px;
45: 	margin-left: 65%;
46: }
47: .notePad{
48: 	background-color: 
49: }

Backtrace:
./app/styles/style.scss:49
/Library/Ruby/Gems/2.0.0/gems/sass-3.3.4/lib/sass/scss/parser.rb:1306:in `expected'
/Library/Ruby/Gems/2.0.0/gems/sass-3.3.4/lib/sass/script/lexer.rb:216:in `expected!'
/Library/Ruby/Gems/2.0.0/gems/sass-3.3.4/lib/sass/script/parser.rb:571:in `assert_expr'
/Library/Ruby/Gems/2.0.0/gems/sass-3.3.4/lib/sass/script/parser.rb:56:in `parse'
/Library/Ruby/Gems/2.0.0/gems/sass-3.3.4/lib/sass/scss/parser.rb:1170:in `sass_script'
/Library/Ruby/Gems/2.0.0/gems/sass-3.3.4/lib/sass/scss/parser.rb:1018:in `value!'
/Library/Ruby/Gems/2.0.0/gems/sass-3.3.4/lib/sass/scss/parser.rb:980:in `declaration'
/Library/Ruby/Gems/2.0.0/gems/sass-3.3.4/lib/sass/scss/parser.rb:683:in `block in declaration_or_ruleset'
/Library/Ruby/Gems/2.0.0/gems/sass-3.3.4/lib/sass/scss/parser.rb:1282:in `call'
/Library/Ruby/Gems/2.0.0/gems/sass-3.3.4/lib/sass/scss/parser.rb:1282:in `rethrow'
/Library/Ruby/Gems/2.0.0/gems/sass-3.3.4/lib/sass/scss/parser.rb:693:in `declaration_or_ruleset'
/Library/Ruby/Gems/2.0.0/gems/sass-3.3.4/lib/sass/scss/parser.rb:655:in `block_child'
/Library/Ruby/Gems/2.0.0/gems/sass-3.3.4/lib/sass/scss/parser.rb:644:in `block_contents'
/Library/Ruby/Gems/2.0.0/gems/sass-3.3.4/lib/sass/scss/parser.rb:636:in `block'
/Library/Ruby/Gems/2.0.0/gems/sass-3.3.4/lib/sass/scss/parser.rb:629:in `ruleset'
/Library/Ruby/Gems/2.0.0/gems/sass-3.3.4/lib/sass/scss/parser.rb:654:in `block_child'
/Library/Ruby/Gems/2.0.0/gems/sass-3.3.4/lib/sass/scss/parser.rb:647:in `block_contents'
/Library/Ruby/Gems/2.0.0/gems/sass-3.3.4/lib/sass/scss/parser.rb:116:in `stylesheet'
/Library/Ruby/Gems/2.0.0/gems/sass-3.3.4/lib/sass/scss/parser.rb:41:in `parse'
/Library/Ruby/Gems/2.0.0/gems/sass-3.3.4/lib/sass/engine.rb:409:in `_to_tree'
/Library/Ruby/Gems/2.0.0/gems/sass-3.3.4/lib/sass/engine.rb:274:in `render'
/Library/Ruby/Gems/2.0.0/gems/sass-3.3.4/lib/sass/plugin/compiler.rb:414:in `update_stylesheet'
/Library/Ruby/Gems/2.0.0/gems/sass-3.3.4/lib/sass/plugin/compiler.rb:189:in `block in update_stylesheets'
/Library/Ruby/Gems/2.0.0/gems/sass-3.3.4/lib/sass/plugin/compiler.rb:186:in `each'
/Library/Ruby/Gems/2.0.0/gems/sass-3.3.4/lib/sass/plugin/compiler.rb:186:in `update_stylesheets'
/Library/Ruby/Gems/2.0.0/gems/sass-3.3.4/lib/sass/plugin/compiler.rb:221:in `watch'
/Library/Ruby/Gems/2.0.0/gems/sass-3.3.4/lib/sass/plugin.rb:108:in `method_missing'
/Library/Ruby/Gems/2.0.0/gems/sass-3.3.4/lib/sass/exec.rb:509:in `watch_or_update'
/Library/Ruby/Gems/2.0.0/gems/sass-3.3.4/lib/sass/exec.rb:346:in `process_result'
/Library/Ruby/Gems/2.0.0/gems/sass-3.3.4/lib/sass/exec.rb:43:in `parse'
/Library/Ruby/Gems/2.0.0/gems/sass-3.3.4/lib/sass/exec.rb:22:in `parse!'
/Library/Ruby/Gems/2.0.0/gems/sass-3.3.4/bin/sass:13:in `<top (required)>'
/usr/bin/sass:23:in `load'
/usr/bin/sass:23:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Invalid CSS after \"	background-color:\": expected expression (e.g. 1px, bold), was \"}\"\A         on line 49 of ./app/styles/style.scss\A \A 44: 	width: 70px;\A 45: 	margin-left: 65%;\A 46: }\A 47: .notePad{\A 48: 	background-color: \A 49: }"; }
